@import "../../../styles/variables.scss";

.icon {
  background-color: $brand;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background 0.2s linear;

  &:hover {
    background: $brand-hover;
  }
}
