@import "../../styles/variables.scss";

.events {
  // position: relative;
  width: 500px;
  padding: 30px;
  background-color: $brand-secondary;
  box-shadow: $box-shadow;
  border: $border;

  &__item {
    display: flex;
    align-items: center;
    // gap: 50px;
    justify-content: space-between;
    border-bottom: $border;
    padding: 15px 0;

    &:last-child {
      border: none;
      padding-bottom: 0;
    }

    &-content {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    &-profile {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }

    &-btn {
      max-height: 40px;
    }

    &-image {
      width: 50px;
      height: 50px;
    }
  }
}
