@import "../../styles/variables.scss";

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: 300px;
  gap: 10px;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover; // TODO возможно лучше сделать contain
    cursor: pointer;
  }

  &__modal {
    width: $modal-content-width;
    height: 100vh;
    overflow-y: auto;
  }

  &__moment {
    height: 100%;
  }

  &__users {
    box-sizing: border-box;
    background: #fff;
    width: $modal-content-width;
    border-radius: 10px;
    height: 50vh;
    padding: 30px;

    z-index: 10000;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    &-icon {
      position: absolute;
      left: 20px;
      top: 30px;
    }
  }
}
